@font-face {
  font-family: "Bold";
  src: url(../fonts/GT-America-Mono-Regular.woff2);
}

@font-face {
  font-family: "Medium";
  src: url(../fonts/medium.p.woff);
}

@font-face {
  font-family: "Regular";
  src: url(../fonts/regular.p.woff);
}

@font-face {
  font-family: "Thin";
  src: url(../fonts/thin.p.woff);
}

* {
  font-family: "Regular", sans-serif;
}

html {
  background: #040503;
}
